.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #212121;
  font-weight: 700;
  font-size: 1.125rem;
  font-family: var(--font-secondary);
  line-height: 1.3125rem;
  box-shadow: -2px 0 8px 2px rgb(0 0 0 / 10%);
}
