.feed {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 58px;
  }
}
