.feed {
  &__filters {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 60px;

    & > * {
      flex-grow: 1;

      &:first-child:last-child {
        max-width: 500px;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    color: #8E8E93;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: var(--font-main);
    line-height: 1.5rem;
    letter-spacing: 0.15px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 58px;
  }
}
