.characterPage {
  display: flex;
  flex-direction: column;
  padding-top: 86px;

  &__banner {
    position: relative;
    width: 600px;
    height: 200px;
    margin: 0 auto;
  }

  &__feed {
    margin: 16px 0 44px;
  }
}
